<div>
  <h3>2.University list Data</h3>

  <table border="1" id="university_list">
    <tr>
      <th>public</th>
      <th>private</th>
    </tr>
  </table>
</div>

<script src="university.js"></script>
