@import url(bootstrap.min.css);
@import "all.min.css";



h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

*,*::after,*::before{
    box-sizing: border-box;
}
#carousel{

    margin-top: 120px;
    margin-right: 10px;
}
/*
.img-fluid{
    height: 750px;
}*/
