
body{
    background-color: chocolate;
}
#login-form{
   width: 500px;
   height: 400px;
   display: flex;
}
.display{
    margin: auto;
}
ul{
    list-style-type: none;
}
.monthDetailsTitle{
height: 150px;
border-radius: 30px;
}
a:link {
    color:red;
  }
  .btn-color{
      background-color: coral;
  }
  #month ul li a{
width: 80px;
margin-bottom: 10px;
  }
  #month{
      border:1px;
  }
  .vl {
    border-left: 2px solid black;
    height: 100px;
  }
  .bor-rig{
    
      height: 720px;
      margin-right: 150px;
      border-right: 2px solid coral;
      
  }


  /* add member */

  .open-button {
    background-color: coral;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    left: 28px;
    width: 150px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }